* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Open Sans', sans-serif;
    --light: #e8e9ea;
    --bordeau: #61082b;
    --light-blue: #0093ce;
    --main-secondary: #b4d0e7;
    --light-green: #a2d39b;
    --light-red: #ff1c1c;
    --dark-red: #d5001f;
    --dark: #000000;
    --main-primary: #0162ff;
    --dark-: #0d2481;
    --yellow: #ffd830;
}


h1 {
    font-size: 3.5rem;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

footer {
    background-color: #000000;
}

#app-header {
    height: 80px;
    max-width: 100%;
}

#enterprise {
    height: 250px;
    max-width: 70%;
    flex-direction: column;
    display: flex;
    margin: auto;
    border: solid 1px var(--main-secondary);
}

/* IMG */
.jumbo-img {
    height: 450px
}

/* #img */

.top-main {
    background-color: var(--main-secondary);
    margin: auto;
    height: 600px;
}

.row-4 {
    border: solid 1px lightgrey;
    margin: auto;
}

.color-title {
    color: var(--bordeau);
}

.header-container {
    justify-content: space-between;
    align-items: center;
    background-color: var(--light);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
    z-index: 5;
}

/* UTILITY*/

.partner-img {
    width: 100%;
}

.border-bottom {
    border-bottom: 1px solid var(--light)
}

.company {
    margin-top: 10rem;
}

.hr-card {
    width: 32%;
    background-color: var(--light);
}

.gap {
    gap: 2rem;
}

.card-big {
    width: 100%;
    margin: auto;
    height: 300px;
    border: 1px solid var(--light);
    margin-top: 10rem;
}

.card {
    margin: auto;
    width: 30%;
    height: 510px;
    border: 1px solid var(--light);
    min-height: 550px;
}

.margin-card {
    margin: 0 2rem;
    margin-bottom: 2rem;
}

.card-container {
    flex-flow: wrap;
    justify-content: space-between;
}

.font-big {
    font-size: 2.5rem;
}

.flex {
    display: flex;
}

.d-evenly {
    justify-content: space-evenly;
}

.margin-t20 {
    margin-top: 20rem;
}

.margin-t15 {
    margin-top: 15rem;
}

.margin-t10 {
    margin-top: 10rem;
}

.margin-tb2 {
    margin: 2rem 0;
}

.margin-b5 {
    margin-bottom: 5rem;
}

.padding {
    padding: 1rem 0;
}

.padding-lr {
    padding: 0 1rem;

}

.li-margin {
    margin: 0.40rem 0;
}

.title {
    text-align: center;
    padding: 3rem 0;
}

.white-item {
    color: white;
}

.img-100w {
    width: 100%;
}

.container-card-business {
    width: 31%;
}

.padding {
    padding: 1rem;
}

.padding-10 {
    padding: 10rem 0;
}

.space-arownd {
    justify-content: space-between;
}

.m-width {
    max-width: 40%;
    margin: 8rem 3rem;
}

/* #UTILITY */
/* button */
.blue-button {
    background-color: var(--light-blue);
    color: var(--light);
    border: none;
    font-size: 1rem;
    padding: 0.4rem;
    text-align: center;
}

.text-align {
    text-align: center;
}

.blue-button-big {
    background-color: var(--light-blue);
    color: var(--light);
    border: none;
    font-size: 1rem;
    text-align: center;
    padding: 0.4rem;
}

.blue-big-b {
    text-align: center;
    background-color: var(--light-blue);
    color: var(--light);
    border: none;
    font-size: 1rem;
    padding: 0.4rem;
}

.button-high-blue {
    text-align: center;
    background-color: var(--light-blue);
    color: var(--light);
    border: none;
    font-size: 1rem;
    padding: 0.4rem;
}

.button-white {
    text-align: center;
    background-color: white;
    color: black;
    border: solid 1px black;
    font-size: 1rem;
    padding: 0.4rem;
    size: 3rem;
}

/* #button */


/*   container  */

.container-inside {
    max-width: 70%;
    min-height: 200px;
    margin: auto;
}

.container-top-main {
    max-width: 65%;
    margin: auto;
    max-width: 1152px;
    container-footer
}

.container-small {
    max-width: 1052px;
    margin: auto;
    width: 65%;
}

.container-operation {
    max-width: 65%;
    margin: auto;
}

.container {
    max-width: 70%;
    min-height: 800px;
    margin-top: 150px;
    padding-top: 15rem;
    margin: auto;
}

.container-company {
    max-width: 100%;
    margin: auto;
}

.container-try-dropbox {
    max-width: 100%;
    margin: auto;
    background-color: var(--main-secondary);
    height: 300px;
}


.column-explain {
    flex-flow: column nowrap;
    gap: 2.5rem;
}

.container-footer {
    width: 80%;
    margin: auto;
    padding-top: 5rem;
}

.b-card-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.b-card {
    width: 30%;
}

.b-card-img>img {
    width: 100%;
}

.container-team {
    flex-wrap: wrap;
    width: calc(100% / 3);
}

.img-team {
    width: 50%;
    filter: invert(1);

}

/* #container */

.question-row {
    display: flex;
    justify-content: space-between;
}

.hr-footer {
    width: 15%;
    background-color: var(--light);

}

.team {
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
    height: 250px;
}

.container-team-center {
    flex-direction: column;
    width: calc(100% / 3);
    justify-content: space-evenly;
    padding: 0 3rem;
    background-color: var(--light);
}

.designt {
    background-color: var(--light-green);
    box-shadow: 0 0 0 10px rgba(159, 201, 159, 0.849) inset;
}



.asu {
    background-color: var(--bordeau);
}


.uof {
    background-color: var(--main-primary);
}

.topps {
    background-color: var(--light-red);
}





.wbr {
    background-color: var(--dark-red);
}

.hc {
    background-color: var(--light-blue);
}

.lp {
    background-color: var(--dark-);
}

.cc {
    background-color: var(--yellow);
}