* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Open Sans', sans-serif;
    --light: #e8e9ea;
    --bordeau: #61082b;
    --light-blue: #0093ce;
    --main-secondary: #b4d0e7;
    --light-green: #a2d39b;
    --light-red: #ff1c1c;
    --dark-red: #d5001f;
    --dark: #000000;
    --main-primary: #0162ff;
    --dark-: #0d2481;
    --yellow: #ffd830;
}

/* DEBUG */

/* debug for header*/

#app-header {
    height: 80px;
    background-color: red;
    max-width: 100%;
}

/* #debug for header */

/*  debug for main */
.top-main {
    height: 550px;
    max-width: 100%;
    background-color: var(--main-secondary);
}

.container-w100 {
    max-width: 100%;
    min-height: 400px;
    background-color: #61082b;
}

.container-small {
    max-width: 100%;
    min-height: 200px;
    background-color: var(--main-primary);
}

.container-inside {
    max-width: 50%;
    min-height: 200px;
    background-color: var(--light-green);
}


.container {
    max-width: 50%;
    min-height: 800px;
    background-color: #61082b;
}

#enterprise {
    height: 250px;
    max-width: 50%;
    background-color: var(--light-blue);
}

.join-dropbox {
    height: 500px;
    max-width: 50%;
    background-color: #0162ff;
}

.quest {
    max-width: 50%;
    height: 500px;
    background-color: #d5001f;
}

/*  #debug for main */
/*  debug for footer */

footer{
    background-color: #000000;
}


/*  #debug for footer */
/* #DEBUG */



/* UTILITY*/

.flex {
    display: flex;
}

.justify {
    justify-content: center;
}

.white-item {
    color: white;
}

/* #UTILITY */